<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>pdshome.url</param-name>
		<param-value>/</param-value>
	</context-param>
	<!-- The search servlet answers queries for products. -->
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>gov.nasa.pds.search.servlet.RegistryLegacyServlet</servlet-class>
		<!--     <init-param> -->
		<!--       <param-name>solrServerUrl</param-name> -->
		<!--       <param-value>http://localhost:8080/search-service</param-value> -->
		<!--     </init-param> -->
	</servlet>

	<!-- Preferred way of addressing the search servlet. -->
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<mime-mapping>
		<extension>.xsl</extension>
		<!-- per http://www.w3.org/TR/2006/PR-xslt20-20061121/ -->
		<mime-type>application/xslt+xml</mime-type>
	</mime-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
